// colors
%black-color {
    color: #000;
}

%red-color {
    color: red;
}

%white-color {
    color: #fff;
}

// bg-colors
%bg-white-color {
    background-color: #fff;
}

%bg-red-color {
    background-color: red;
}

%bg-black-color {
    background-color: #000;
}