@use 'extends';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Red Hat Display', sans-serif;
}

.header {
    position: fixed;
    z-index: 0;
    width: 100%;
    top: 0;
    @extend %bg-white-color;
    .container {
        display: flex;
        justify-content: space-between;
        padding: 2rem 0;
        max-width: 1200px;
        margin: 0 auto;
        align-items: center;
        h1 {
            font-size: x-large;
            font-weight: 700;
        }
        nav {
            a {
                font-weight: 700;
                margin: 0 1rem;
                padding-bottom: .6rem;
                @extend %black-color;
                &:hover {
                    border-bottom: 2px solid #000;
                }
            }
        }
        img {
            display: none;
        }
    }
}

.bring {
    @extend %bg-white-color;
    margin-top: 4em;
    &-container {
        max-width: 1200px;
        margin: 0 auto;
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 9em 0;
        h2 {
            font-weight: 700;
            font-size: 60px;
            text-align: center;
            @extend %red-color;
        }
        button {
            margin-top: 3rem;
            padding: 1rem 2rem;
            @extend %bg-black-color;
            a {
                font-size: x-large;
                font-weight: 700;
                @extend %white-color;
            }
            &:hover {
                opacity: .7;
            }
        }
    }
}

.transparent {
    width: 100%;
    height: 900px;
    background-image: url(../images/bg-image.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.about {
    width: 100%;
    @extend %bg-white-color;
    &-container {
        padding: 5rem 0;
        h2 {
            font-size: 50px;
            font-weight: 400;
            text-align: center;
            margin-bottom: 3rem;
            @extend %red-color;
        }
        p {
            font-size: x-large;
            font-weight: 400;
            text-align: center;
            margin: 3rem 0;
            @extend %black-color;
        }
        .black {
            width: 1000px;
            height: 500px;
            margin: 3rem auto;
            @extend %bg-black-color;
        }
    }
}

.welding {
    width: 100%;
    background-color: red;
    &-container {
        max-width: 1200px;
        margin: 0 auto;
        ul {
            padding: 4rem 0;
            li {
                font-size: 40px;
                font-weight: 700;
                letter-spacing: 1px;
                text-align: center;
                margin: 4rem 0;
                @extend %white-color;
            }
        }
    }
}

.our-big {
    width: 100%;
    @extend %bg-white-color;
    &-conatiner {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        h2 {
            font-size: 50px;
            font-weight: 400;
            text-align: center;
            margin: 5rem 0 3rem 0;
            @extend %red-color;
        }
        p {
            font-size: x-large;
            font-weight: 400;
            text-align: center;
            margin: 3rem 0;
            @extend %black-color;
        }
        .images {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            img {
                width: 390px;
                margin: .5rem auto;
            }
        }
        button {
            margin: 3rem auto;
            padding: 1rem 2rem;
            @extend %bg-black-color;
            a {
                font-size: x-large;
                font-weight: 700;
                @extend %white-color;
            }
            &:hover {
                opacity: .7;
            }
        }
    }
}

.throughout {
    @extend %bg-red-color;
    &-container {
        max-width: 900px;
        margin: 0 auto;
        padding: 4rem 0;
        h2 {
            font-size: 50px;
            font-weight: 400;
            text-align: center;
            margin: 3rem 0;
            text-align: start;
            @extend %white-color;
        }
        p {
            font-size: x-large;
            font-weight: 400;
            text-align: center;
            margin: 3rem 0;
            text-align: start;
            @extend %white-color;
        }
    }
}

.footer {
    background-color: #000;
    margin: 0 auto;
    &-container {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h2 {
            font-size: 50px;
            font-weight: 400;
            text-align: center;
            margin: 3rem 0;
            text-align: center;
            @extend %white-color;
        }
        button {
            margin: 3rem auto;
            padding: 1rem 2rem;
            @extend %bg-red-color;
            a {
                font-size: x-large;
                font-weight: 700;
                @extend %white-color;
            }
            &:hover {
                opacity: .7;
            }
        }
        .social {
            margin: 3rem auto;
            img {
                margin: 0 3rem;
            }
        }
    }
}

@media only screen and(max-width:991px) {
    .header {
        .container {
            align-items: center;
            max-width: 900px;
            nav {
                display: none;
            }
            img {
                display: block !important;
            }
        }
    }
    .about {
        &-container {
            .black {
                max-width: 700px;
            }
        }
    }
    .our-big {
        &-container {
            background-color: #000;
            h1 {
                font-size: 40px;
            }
            p {
                font-size: large;
            }
            .images {
                margin: 0 auto;
                img {
                    display: block;
                }
            }
        }
    }
    h2 {
        font-size: 40px !important;
    }
    p {
        font-size: large !important;
    }
    li {
        font-size: 40px !important;
    }
    a {
        font-size: large !important;
    }
}